<% layout("/layouts/boilerplate")  %>
<body>
   <div class="row mt-3">
      <div class="col-8 offset-2">
   <h3> Listing Details</h3><br>
</div>
 <div class=" ">
   <div class="card col-7 row-1  offset-2 shadow-lg rounded-xl ">
   
      <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image" style="height:50%; width:100% !important; border: none; margin-bottom: 4px;  border-radius: 10px;">
  <div class="card-body" style="width:100%; border-radius:10px; margin-bottom: 2px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >
    <p class="card-text">
      <b><%= listing.title %></b><br>
      <%= listing.description %><br>
      <ul><li>Round Trip Flights</li><li>Selected Meal</li>
         <li>3 Star Hotel</li>
      </ul>
    <b>
  &#8377;<%= (listing.price != null && typeof listing.price === 'number') ? listing.price.toLocaleString("en-IN") : 'N/A' %>
</b> /person
 &nbsp;<button style="border:none;  background-color: rgba(241, 81, 7, 0.959); color:rgb(231, 200, 161);border-radius: 5px;">2D/1N</button><br>
      <b><%= listing.location %></b>
   </p>
  </div>
   </div>
  
</div>
</div>


<a  href="/listing/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2">Edit </a>
<a  href="/listing/<%= listing._id %>/book" class="btn btn-dark col-1 offset-5">Book Now </a>
</body>
